services:
  mongodb:
    image: mongo:8.2.5
    ports:
      - "27017:27017"
    healthcheck:
      test: mongosh --eval "db.runCommand('ping').ok" --quiet
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: rabbitmq-diagnostics -q check_port_connectivity
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 15s

  menu:
    build: ./Menu
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/menu_db
    depends_on:
      mongodb:
        condition: service_healthy

  order:
    build: ./Order
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/order_db
      - SPRING_RABBITMQ_HOST=rabbitmq
      - MENU_SERVICE_URL=http://menu:8081
      - SERVER_PORT=8082
    depends_on:
      mongodb:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  gateway:
    build: ./Gateway
    ports:
      - "8080:8080"
    depends_on:
      - menu
      - order
